<!DOCTYPE html>
<html>
  <head>
    <title>ScoresheetAppBase02</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="ui fixed blue inverted menu">
    <div class="ui container">
      <a href="/welcome/index.html"><div class="header item"><i class="red icon table"></i> Scoresheet App</a></div>
      <%= link_to "Home", welcome_index_path, class: "item" %>
      <div class="ui simple dropdown item">
        Innings <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to "New", new_inning_path, class: "item" %>
          <div class="divider"></div>
          <%= link_to "List", innings_path, class: "item" %>
        </div>
      </div>
    </div>
  </div>

  <body>
    <div class="ui main text container">
      <%= yield %>
    </div>
  </body>
</html>
